* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    background-color: #376648;
    color: #333;
}

header {
    background: #1e4735;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo-container {
    position: absolute;
}

.logo {
    width: 20%;
    height: auto;
}

.stylish-image {
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3); 
    width: 100%;
    
    position: relative; 
}

header h1 {
    margin-bottom: 10px;
    font-size: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #5d7e58;
}

section {
    padding: 40px;
    margin: 20px;
    background: #f3e2a4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section#home {
    text-align: center;
    background: #5d7e58;
    color: #ffffff;
    padding: 2% 1%;
}

section#home h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

section#home p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

section#home button {
    padding: 10px 30px;
    background: #f3e2a4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

section#home button:hover {
    background: #f3e2a4d4;
}

section#about h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #1e4735;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #1e4735;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    width: 60%;
}

/* Hide the images by default */
.mySlides {
    display: none;
} 

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: auto;
    transition: 0.6s ease;
    user-select: none;
    background-color: #f3e2a4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: #376648;
}

/* Caption text */
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0; /* Aligns the text at the top */
    left: 0; /* Aligns the text to the left */
    width: 33.33%; /* Covers a third of the image width */
    height: 100%; /* Covers the full height of the image */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center; /* Centers the text vertically */
    justify-content: center; /* Centers the text horizontally */
}
.center-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
}

/* Container for navigation buttons and dots */
.navigation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

/* Adjust the position of the dots container */
.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.slide-content{
    display: flex;
    flex-direction: row; 
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}

/* Mobile Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        margin: 10px;
        padding: 20px;
    }

    .carbon-images {
        flex-direction: column;
        align-items: center;
    }

    .stylish-image {
        max-width: 100%;
    }
}

.background-video {
    width: 40%;
    height: auto;
    border-radius: 15px;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: row;
}

.videos {
    display: flex;
    justify-content: column; 
}

.carbon-images {
    display: flex;
    justify-content: center;
    gap: 50%;
    align-items: center;
    flex-direction: column;
}
.button-slideshow-container{
    display: flex; 
    flex-direction: row; 
}
